[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GmptzCurve"]
	path = GmptzCurve
	url = https://github.com/arnab7640/gmptzcurve
[submodule "MissingPlotRBD"]
	path = MissingPlotRBD
	url = https://github.com/arnab7640/missingplotrbd
